<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li><a href="{:U('Index/index')}" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
			<li class="active">推广信息</li>
			<li class="active">推广链接</li></ol>
	</div>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"></h3>
					<div class="box-tools" style="position: static;">
						
						<form class="form-inline" method="post">
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control reservationtime" name="time1" value="{$_GET['time1']}" style="width: 150px; height: 30px;" placeholder="开始时间">
								<span class="input-group-addon" style="float: left; width: 50px; height: 30px;">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
							-
							<div class="input-group date" id="datetimepicker2">
								<input type="text" class="form-control reservationtime" name="time2" value="{$_GET['time2']}" style="width: 150px; height: 30px;" placeholder="结束时间">
								<span class="input-group-addon" style="float: left; width: 50px; height: 30px;">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
							<div class="input-group ">
								<input type="text" class="form-control " name="title" value="{$_GET['title']}" placeholder="漫画名称">
							</div>
							<div class="input-group" style="width: 350px;">
								<input type="text" name="name" class="form-control pull-right" placeholder="推广名称" value="{$_GET['name']}">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
							<div class="input-group">
								<a href="">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" id="">导出excel</button>
									</div>
								</a>
							</div>
						</form>
					</div>
				<!-- /.box-header -->
					<div class="tab-content">
						<div class="box-body table-responsive" id="outerChannel">
							<table class="table table-bordered table-hover table-striped popularizeTable" style="word-wrap:break-word;">
								<tbody><tr>
									<th>渠道id</th>
									<th>推广链接</th>
									<th>入口章节</th>
									<th>强制关注章节</th>
									<th>引导人数</th>
									<th>新增关注</th>
									<th>充值金额</th>
									<th>操作</th>
								</tr>	
								<foreach name="list" item="v">
								<tr>
									<td>{$v.id}</td>
									<td>
										<div style="display: flex;flex-direction: column;">
											<span>{$v.name}</span>
											<span>
												<a class="text-primary" href="{$v.url}" target="_blank">{$v.url}</a>
												<button type="button" class="btn btn-xs fa fa-copy copy" data-clipboard-action="copy" data-clipboard-text="{$v.url}"></button>
												<button class="btn btn-xs fa fa-qrcode" data-toggle="modal" id="create_qrcode" data-anid="{$v.anid}" data-chaps="{$v.chaps}" data-id="{$v.id}"></button>
												<button class="btn btn-xs short-url" data-id="{$v.id}" data-url="{$v.url}" data-short-url="{$v.shorturl}">短</button>
											</span>
											<span class="createDate">创建日期:{$v.create_time|date="Y-m-d H:i:s",###}</span>
										</div>
									</td>
									<td>
										<div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: center;">
											<span>{$v.title}</span>
											<span class="c666">{$v.atitle}</span>
										</div>
									</td>
									<td>{$v.subchaps}</td>
									<td>{$v.subnums}</td>
									<td>{$v.pernums}</td>
									<td>{$v.charge}</td>
									<td>
										<!-- <a href="" class="btn btn-xs btn-primary">
											<i class="fa fa-file-text-o" style="margin-right: 5px;"></i>订单明细
										</a> -->
										<a href="{:U('editChapter',array('id'=>$v['id']))}" class="btn btn-xs btn-default editchapter">
											<i class="fa fa-edit" style="margin-right: 5px;"></i>修改
										</a>
										<a href="javascript:;" class="btn btn-xs btn-default devareBtn" onclick="deleteAmTables('chapter',{$v.id});">
											<i class="fa fa-trash" style="margin-right: 5px;"></i>删除
										</a>
									</td>
								</tr>
								</foreach>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>


<!-- 二维码模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="qrcodeModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">推广链接二维码</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs qrcodeTabs">
					<li class="active">
						<a href="{:U('index')}#pureQrcode" class="Qrcode" data-toggle="tab" data-type="0">纯二维码</a>
					</li>
					<li>
						<a href="{:U('index')}#imgQrcode" data-toggle="tab" class="Qrcode" data-type="1">图文二维码</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="pureQrcode">
						<div style="text-align: center;" id="pureQrcode_img"></div>
							
						<div class="modal-footer">
							<button type="button" class="btn btn-primary download">下载</button>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="imgQrcode">
						<div style="text-align: center;" id="imgQrcode_img"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary Qrcode">切换样式</button>
							<button type="button" class="btn btn-primary download">下载</button>
						</div>
					</div>
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="short-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h5 class="modal-title" id="exampleModalLabel">生成短链接</h5>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2">推广链接:</label>
						<div class="col-sm-10">
							<input class="form-control" name="long_url" id="long_url" value="" readonly="">
						</div>
					</div>
					<div class="form-group short-url-div" id="short-url-div" style="display: none;">
						<label class="control-label col-sm-2">短链接:</label>
						<div class="col-sm-10">
							<input class="form-control" id="short_url" name="short_url" value="" readonly="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary short-url-copy copy" id="short-url-copy" data-clipboard-action="copy" data-clipboard-target="#short_url" style="display: none;">
					复制链接
				</button>
				<button type="button" id="submit_short_url" class="btn btn-primary" style="display: inline-block;">生成短链接</button>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="__PUBLIC__/layer/skin/default/layer.css">
<script src="__PUBLIC__/admin/js/clipboard.min.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script>
	var id = 0;
	$('.short-url').click(function(){
		id = $(this).data('id');
		var url = $(this).data('url');
		var shorturl = $(this).data('short-url');
		if(shorturl == ""){
			$('#short-url-div').hide();
			$('#short-url-copy').hide();
			$("#submit_short_url").show();
			$('#long_url').val(url);
		}else{
			$('#short-url-div').show();
			$('#short-url-copy').show();
			$("#submit_short_url").hide();
			$('#long_url').val(url);
			$('#short_url').val(shorturl);
		}
		$('#short-model').modal('show');
	});
	
	//生成短链接
	$('#submit_short_url').click(function(){
		if(id == 0){
			layer.msg('参数错误！');
			return false;
		}
		$.post("{:U('shortUrl')}",{id:id},function(d){
			if(d){
				$('#short_url').val(d.info);
				$('#short-url-div').show();
				$('#short-url-copy').show();
				$('#submit_short_url').hide();
			}else{
				layer.msg('请求失败！');
			}
		})
	});
</script>
<script>
	$.fn.datetimepicker.dates['zh-CN'] = {
		days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
		daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
		daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
		months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
		meridiem: ["上午", "下午"],
		today: "今天"
	};

	$('.reservationtime').datetimepicker({
		format: 'yyyy-mm-dd',
		language: 'zh-CN',
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		showMeridian: 1
	});
	
	
	var clipboard = new Clipboard('.copy');

        clipboard.on('success', function (e) {
            layer.msg("复制成功!");
            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });

	var anid = 0;
		chaps = 0;
		mch = "{$mch['id']}"?"{$mch['id']}":0;
		
	$('.fa-qrcode').click(function () {
		$('#qrcodeModal').modal('show');
		$('#imgQrcode_img').empty();
		$('#pureQrcode_img').empty();
		
		var type = $('.qrcodeTabs .active .Qrcode').data('type');
		var random_number = randomNum(0, 4);
		anid = $(this).data('anid');
		chaps = $(this).data('chaps');
		if (type == 0) {
			var img_src = './Public/qrcode/'+mch+"/"+anid+"/"+chaps+"/"+"qrcode.jpg";
			$('#pureQrcode_img').append("<img src='" + img_src + "'>");
			$('.download').html("<a href='" + img_src + "' download='novel_jpg' target='_blank' style='color: #fff; text-decoration: none;width:56px;height:20px;'>下载二维码</a>");
		} else {
			var img_src = './Public/qrcode/'+mch+"/"+anid+"/"+chaps+"/"+random_number+"_pic.jpg";
			$('#imgQrcode_img').append("<img src='" + img_src + "'>");
			$('.download').html("<a href='" + img_src + "' download='novel_jpg' target='_blank' style='color: #fff; text-decoration: none;width:56px;height:20px;'>下载二维码</a>");
		}

	});
	
	$('.close').click(function () {
		$('#pureQrcode_img').empty();

	});
	
	$('.Qrcode').click(function () {
		$('#imgQrcode_img').empty();
		$('#pureQrcode_img').empty();
		
		var random_number = randomNum(0, 4);
		var type = $(this).data('type');
		if (type == 0) {
			var img_src = './Public/qrcode/'+mch+"/"+anid+"/"+chaps+"/"+"qrcode.jpg";
			$('#pureQrcode_img').append("<img src='" + img_src + "'>");
			$('.download').html("<a href='" + img_src + "' download='novel_jpg' target='_blank' style='color: #fff; text-decoration: none;width:56px;height:20px;'>下载二维码</a>");
		} else {
			var img_src = './Public/qrcode/'+mch+"/"+anid+"/"+chaps+"/"+random_number+"_pic.jpg";
			$('#imgQrcode_img').append("<img src='" + img_src + "'>");
			$('.download').html("<a href='" + img_src + "' download='novel_jpg' target='_blank' style='color: #fff; text-decoration: none;width:56px;height:20px;'>下载二维码</a>");
		}
	})
	
	function randomNum(minNum, maxNum) {
		switch (arguments.length) {
			case 1:
				return parseInt(Math.random() * minNum + 1, 10);
				break;
			case 2:
				return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
				break;
			default:
				return 0;
				break;
		}
	}
	
</script>