<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>客服帮助</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/footer4.css">
<style>
    body{background: #f7f7f7;padding: 0;margin: 0}
    .mian-d1{background: #ffffff;margin-bottom: 15px;}
    .cv1,.cv2,.cv3{height: 70px;}
    .cv4{height: 100px;}
	.main-txt{padding:20px;}
</style>
</head>
<body>
<div class="main">
    <div class="mian-d1 cv1">
	   <div class="main-txt">客服微信：{$site.weixin}</div>
	</div>
  <!--   <div class="mian-d1 cv2">
	   <div class="main-txt">客服QQ：</div>
	 </div> -->
    <div class="mian-d1 cv3">
	   <div class="main-txt">
	      客服手机：{$site.tel}
	   </div>
	</div>
    <div class="mian-d1 cv4">
	   <div class="main-txt">
	     工作时间：周一到周五9：30-20：30、周六周日9：30-18：30
		 </div>
	   </div>
</div>
<include file="include/footer4" />
</body>
</html>