<include file="include/header4" title="{$title}" />

<style>
		.mui-popup-in {
			position: fixed !important;
		}

		.mui-popup-out {
			position: fixed !important;
		}
		img{object-fit: cover;}
</style>

<body>


<div class="w-shelfTab ">
	<div id="segmentedControl" class="mui-segmented-control">
		<!--<a class="mui-control-item w-active mui-active" href="#item2" id="shelfo">历史</a>-->
		<!--<a class="mui-control-item w-active" href="#item1" id="shelft">收藏</a>-->
		<a class="mui-control-item w-active mui-active">历史</a>
		<a class="mui-control-item w-active"  href="{:U('Index/collectHistory',array('btype'=>$btype))}" >收藏</a>
	</div>
	<div class="w-shelfCleanUp">
		<span class="w-cleanUp"><i class="icon-source-list icon-settle"></i></span>
		<span class="w-achieve">完成</span>
	</div>
</div>
<div class="mui-content taphref" style="padding-top: 20px;">
	<div class="w-shelfContent">

		<!--历史-->
		<div id="item2" class="mui-control-content mui-active">


			<ul class="mui-table-view w-historyList" id="shelf-container">

			</ul>

            <div class="common-ne" style="display:none">
			<div class="no-info">
				<img src="__PUBLIC__/home/images/template3/no-info.png">
				<p>还没有观看历史哦/(ㄒoㄒ)/</p>
			</div>
			<div class="replace-title">
				<div class="replace-titleText">猜你喜欢</div>
				<div class="replace-titleIcon" id="guess_btn" onclick="loadRecommend()">再猜一下<i
						class="icon-source-list icon-refresh"></i></div>
			</div>
			<div class="replace-content">
				<ul class="mui-table-view mui-grid-view" id="guess_list1">

				</ul>
			</div>
			</div>

			<div class="w-operation2">
				<div class="w-Select"><div class="w-SelectAll">全选</div><div class="w-SelectNone">取消</div></div>
				<div class="w-delete">删除</div>
			</div>

		</div>


	</div>
</div>
<include file="include/footer4" />
<script type="text/javascript">
    var page = 1;
    var wait = true;

    $(function () {
        getData();
        $('.bs-box').bind("scroll", function (event) {
            if(!wait) return;
            var top = document.documentElement.scrollTop + document.body.scrollTop;
            var textheight = $(document).height();
            if (textheight - top - $(window).height() <= 100) {
                page++;
                getData();
            }
        });
    });

    //获取数据
    function getData(){
        $.post("{:U('Ajax/getReadHistory3')}",{page:page,btype:"{$btype}"},function(d){
		     console.log(d);
            if(d){
                if(d.status){
                    $('#shelf-container').append(d.info);
                }else{
                    if(page == 1 && $('#nolist').length == 0){
                        $('.common-ne').show();
                    }
                    wait = false;
                }
            }else{
                bh_msg_tips('加载失败！');
            }
        })
    }



    $('#edit_shelf_btn').click(function(){
        if($("#shelf-container").hasClass('editable')){
            $("#shelf-container").removeClass('editable');
            $('#niubi').show();
            $('#bibibi').hide();
            $('#d_layer').hide();
            $('#myfooter').show();

            //去掉勾选中的样式
            $("#select_all").prop("checked",false);
            //去掉item中swtich的check
            $(".selected-switch").prop('checked',false);

            $("#shelf-container").find('.cp-box').css('display','flex');
            $("#shelf-container").find('.cp-box').toggle();
            $("#shelf-container").find('.action').show();
            //清除删除数量
            $('#delete_count').html(0);
        }else{
            $("#shelf-container").addClass('editable');
            $('#niubi').hide();
            $('#bibibi').show();
            $('#d_layer').show();
            $("#shelf-container").find('.cp-box').toggle();
            $("#shelf-container").find('.action').hide();
            $('#myfooter').hide();
        }
    });


    function choose(ob){
        var len = $(".selected-switch:checked").length;
        //如果数量小于item的数量
        if($('#shelf-container .item').length > len){
            $("#select_all").prop("checked",false);
        }
        //如果数量等于item的数量
        if($('#shelf-container .item').length == len){
            $("#select_all").prop("checked",true);
        }

        $('#delete_count').html(len);
    }


    $('#select_all').click(function(){
        if($("#select_all").prop("checked")){
            $(".selected-switch").prop('checked',true);
            $('#delete_count').html($('#shelf-container .item').length)
        }else{
            $(".selected-switch").prop('checked',false);
            $('#delete_count').html(0);
        }
    })
   /*
    //确定删除
    var ids = [];
    function deleteHistory(){
        ids = [];
        $(".selected-switch").each(function(){
            if($(this).prop("checked")){
                ids.push($(this).val());
            }
        });

        $('.mask-box').show();
        $('#confirm-delete-count').html(ids.length);
        $('.modal').show();
    }


    //提交删除
    function confirmDelete(){
        if(ids.length == 0){
            bh_msg_tips('您没有选中任何记录！');
            return false;
        }
        $(".selected-switch").each(function(){
            if($.inArray($(this).val() ,ids)>=0 && $(this).prop('checked')){
                $(this).parents('.item').remove();
            }
        });

        $("#shelf-container").find('.cp-box').css('display','flex');
        $("#shelf-container").find('.cp-box').toggle();
        $("#shelf-container").find('.action').show();


        $('.mask-box').hide();
        $('#confirm-delete-count').html(0);
        $('.modal').hide();

        $("#shelf-container").removeClass('editable');
        $('#niubi').show();
        $('#bibibi').hide();
        $('#d_layer').hide();
        $('#myfooter').show();

        //去掉勾选中的样式
        $(".selected-switch").prop('checked',false);
        //清除删除数量
        $('#delete_count').html(0);

        if($('#shelf-container .item').length == 0){
            $('.common-ne').show();
        }


        $.post("{:U('Ajax/deleteReadHistory')}",{ids:ids.join(",")});
    }*/
	
	    $(".w-operation2 .w-delete").click(function () {
        var checked = $(".w-checkbox2 input[name='checked']:checked");
        var ids = '';
        var len = 0;
        $.each(checked, function (i, e) {
            ids += e.value + ',';
            len += 1;
        });
        mui.confirm('确认删除选中' + len + '本书？', '删除后将无法恢复', ['是', '否'], function (e) {
            // 发送请求
            if (e.index == 0) {
                if (ids != "") {
                    var param = {ids: ids};
                    $.ajax({
                        type: 'POST',
                        url: "{:U('Ajax/deleteReadHistory')}",
                        data: param,
                        dataType: 'json',
                        success: function (r) {
                            if (r.status == 1) {
                                mui.toast('删除成功！');
                                // $.each(checked, function (i, e) {
                                //     $('#shelf' + e.value).remove();
                                // });
                                window.location.reload();
                            }
                        }
                    });
                } else {
                    mui.toast('请选择书籍！');
                }
            } else {
                mui.toast('已取消！');
            }
        })
    });


    mui('.mui-segmented-control').on('tap','a',function(){document.location.href=this.href;});
</script>
<script type="text/javascript" src="__PUBLIC__/home/js/template3/common.js"></script> 
</body>
</html>