<link rel="stylesheet" href="__PUBLIC__/admin/css/switch.css">
<section class="content-header">
<div>
	<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
		<li><a href="{:U('Index/index')}" style="color: #333;"><i class=" fa fa-home"></i>&nbsp;Home</a></li>
		<li class="active">消息推送</li>
		<li class="active">关键词回复</li>
	</ol>
</div>
</section>
<section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"></h3>
				<a href="{:U('edit')}" class="btn btn-success">添加关键词</a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered table-hover table-striped text-center">
					<tbody>
						<tr>
							<th>关键词</th>
							<th>回复类型</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
						<foreach name="list" item="v">
							<tr>
								<td>{$v.keyword}</td>
								<td>
									<if condition="$v['type'] eq 1">
										文本回复
									<else />
										图文回复
									</if>
								</td>
								<td>
									<div class="switch switch-small checkbox has-switch" data-title="is_push" data-on="success" onclick="clickCheckbox({$v.id},this);">
										<div class="switch-animate <if condition="$v['status'] eq 1">switch-on<else />switch-off</if>">
										<input type="checkbox" checked="">
										<span class="switch-left switch-small switch-success">ON</span><label class="switch-small">&nbsp;</label><span class="switch-right switch-small">OFF</span>
										</div>
									</div>
								</td>
								<td>
									<if condition="$v['type'] eq 2">
										<a href="{:U('News/index',array('aid'=>$v['id']))}" class="cannel_vip btn bg-olive margin">
											<i class="fa fa-image"></i>&nbsp;管理图文
										</a>
									</if>
									<a href="{:U('edit',array('id'=>$v['id']))}" class="btn btn-info">
										<i class="fa fa-edit"></i>修改
									</a>
									<a href="javascript:;" onclick="deleteAmTables('autoreply',{$v.id})" class="cannel_vip btn bg-maroon margin">
										<i class="fa fa-times"></i>删除
									</a>
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
			<div class="page">{$page|default="<p style='text-align:center'>暂时没有数据</p>"}</div>
		</div>
	</div>
</div>
</section>
<script>
	function clickCheckbox(id,ob){
		$.post("{:U('setStatus')}",{id:id},function(d){
			if(d){
				if($(ob).find(".switch-off").length>0){
					$(ob).find(".switch-animate").removeClass('switch-off');
					$(ob).find(".switch-animate").addClass('switch-on');
				}else{
					$(ob).find(".switch-animate").removeClass('switch-on');
					$(ob).find(".switch-animate").addClass('switch-off');
				}
				layer.msg(d.info);
			}else{
				layer.msg('请求失败！');
			}
		});
	}
</script>