{include file='public/header' /}
    <div class="x-body">
          <div class="layui-form-item">
              <label for="user" class="layui-form-label">
                  <span class="x-red">*</span>登录名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="user" name="username" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>


        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>所属角色
            </label>
            <div class="layui-input-inline">
                <select id="role" name="shipping" class="valid">
                    <option value="1">超级管理员</option>
                </select>
            </div>
        </div>

          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="pwd" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" onclick="xadmin_btn();">
                  增加
              </button>
          </div>
    </div>
    <script>
   function xadmin_btn(){
      var user  =$.trim($('#user').val());
      var pwd   =$.trim($('#pwd').val());
      var role  =$('#role option:selected').val();

       if(user =='' || user == undefined){
           layer.msg('请输入用户名');
           return false;
       }


       if(pwd =='' || pwd == undefined){
           layer.msg('请输入密码');
           return false;
       }

       var urls = "{:url('member/add')}";

       $.post(urls,{'users':user,'pwd':pwd,'role':role},function(ret){
           if(ret.code == 200){
                 layer.msg(ret.msg,{icon:6});
                 window.location.href="{:url('member/index')}";
           }

           if(ret.code == 400){
               layer.msg(ret.msg,{icon:5});
               window.location.reload();
           }
       })
   }
    </script>

  </body>

</html>