
<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U('Index/index')}" style="color: #333;">
					<i class=" fa fa-home"></i>&nbsp;Home
				</a>
			</li>
			<li class="active">活动信息</li>
			<li class="active"><if condition="$_GET['id']">修改活动信息<else />添加活动信息</if></li>
		</ol>
	</div>

</section>
	<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form id="main-form" class="form-horizontal" style="margin-top:30px" method="post">
					<div class="form-group">
						<label class="control-label col-sm-3">活动标题</label>
						<div class="col-sm-6">
							<input type="text" name="title" class="form-control col-sm-9" value="{$info.title}" required="">
							<p class="help-block help-block-error col-sm-12 col-xs-10" style="color:red;padding-left:0"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">充值价格</label>
						<div class="col-sm-6">
							<input type="text" name="money" class="form-control col-sm-9" value="{$info.money}" required="">
							<p class="help-block help-block-error col-sm-7 col-xs-10">输入大于0的数值</p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">赠送价格</label>
						<div class="col-sm-6">
							<input type="text" name="smoney" class="form-control col-sm-9" value="{$info.smoney}" required="">
							<p class="help-block help-block-error col-sm-7 col-xs-10">输入大于0的数值</p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">金额/书币比例</label>
						<div class="col-sm-6">
							<input type="text" name="lv" class="form-control col-sm-9" value="{$info.lv}" required="">
							<p class="help-block help-block-error col-sm-7 col-xs-10">输入大于0的数值,单位按百分比计算</p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">阅读页是否显示</label>
						<div class="col-sm-6">
							<select class="form-control col-sm-9" name="isshow" default="{$info['isshow']}">
								<option value="">请选择</option>
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
							<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">活动开始时间</label>
						<div class="col-sm-6">
							<input type="text" name="stime" class="form-control col-sm-9 times" value="{$info.stime|date='Y-m-d H:i:s',###}" required="">
							<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">活动结束时间</label>
						<div class="col-sm-6">
							<input type="text" name="etime" class="form-control col-sm-9 times" value="{$info.etime|date='Y-m-d H:i:s',###}" required="">
							<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">活动背景图片</label>
						<div class="col-sm-6">
							<iframe src="{:U('Index/upload', 'event=setPic&url='.$info['pic'])}" scrolling="no" style="width:200px;height:200px;border: none;display:block"></iframe>
							<input type="hidden" name="pic" id="pic" value="{$info['pic']}" class="smallinput" />
							<script>
							function setPic(url){
								document.getElementById('pic').value = url;
							}
							</script>
							<p class="help-block help-block-error col-sm-7 col-xs-10">点击图片可进行更换</p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">客服消息图片</label>
						<div class="col-sm-6">
							<iframe src="{:U('Index/upload', 'event=setPics&url='.$info['spic'])}" scrolling="no" style="width:200px;height:200px;border: none;display:block"></iframe>
							<input type="hidden" name="spic" id="spic" value="{$info['spic']}" class="smallinput" />
							<script>
							function setPics(url){
								document.getElementById('spic').value = url;
							}
							</script>
							<p class="help-block help-block-error col-sm-7 col-xs-10">点击图片可进行更换</p>
						</div>
					</div>
					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<input type="hidden" name="id" id="id" value="{$_GET['id']}" />
								<button type="button" id="ajaxBtn" class="btn btn-primary">保存</button>
								<button type="button" class="btn btn-inverse" style="margin-left:20px;" onclick="history.go(-1)">返回</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script>
	$.fn.datetimepicker.dates['zh-CN'] = {
		days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
		daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
		daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
		months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
		meridiem: ["上午", "下午"],
		today: "今天"
	};

	$('.times').datetimepicker({
		language: 'zh-CN',
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		showMeridian: 1
	});
</script>