{include file='common/header'/}

<div class="content">
	<div class="xxy">
    	<div class="xxy-l">
        	<h1>联系我们</h1>
            <div class="xxy-l-cen">
            	<div class="lx-wm">
           	  	<img src="/static/home/images/1234.jpg" width="225" height="172" />
                </div>
            </div>
        </div>
        <div class="xxy-r">
        	<h1>联系我们</h1>
            <div class="xxy-r-cen">
				<p>电    话： (0411)88888888</p>
                <p>传    真： (0411)88888888</p>
                <p>电子邮箱： hr@dldonghao.com donghao@163.com</p>
                <p>地    址： 大连市xxxx区xxxx路xx号</p>
                <p style="text-align:center"><img src="/static/home/images/dt.jpg" /></p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>
    
</div><div class="clear"></div>

{include file='common/foot'/}

