{include file='common/header' /}

<div class="content">
	<div class="cont01">
    	<div class="gongg">
        	<h1><span>通知公告</span><a href="#" target="_blank">&gt;&gt;更多</a></h1>
            <div class="gongg-cen">
            	<ul>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                	<li><a href="#" target="_blank">大连开发区医院</a></li>
                </ul>
            </div>
        </div>
        <div class="news">
        	<div class="news-l"><img src="/static/home/images/news.jpg" /></div>
            <div class="news-r">
            	<div class="news-r-list">
                	<ul>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                        <li><a href="#" target="_blank">·大连开发区医院</a><span>09-16</span></li>
                    </ul>
                </div>
                <div class="hdp"><img src="/static/home/images/12345.jpg" /></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="cont02">
    	<div class="cont02-l">
        	<div class="zxly"><a href="#" target="_blank"><img src="/static/home/images/zx_03.jpg" /></a></div>
            <div class="zxly"><a href="#" target="_blank"><img src="/static/home/images/zx_06.jpg" /></a></div>
            <div class="qyzz">
        		<h1><span>通知公告</span><a href="#" target="_blank">&gt;&gt;更多</a></h1>
                <div class="qyzz-cen"><img src="/static/home/images/tp001.jpg" /></div>
            </div>
        </div>
        <div class="about">
        	<h1><span>公司简介</span></h1>
            <div class="about-cen">
            	<img src="/static/home/images/tp002.jpg" width="187" height="150" />
                <div class="about-cen-r">
                	<p>中国船舶燃料大连有限公司（简称中燃大连公司）直属于中国船舶燃料有限责任公司，系中远集团和中石油紧密型企业。公司成立于1972年，现有各类员工400余人，拥有各类供油供水船舶6艘、储量10万立方米油库一座、最大可停靠一万吨级船舶成品油码头8座以及船舶修理厂、润滑油加工厂、陆地装车台、油品化验室等完善的经营配套设施，是我国东北地区最大的水上供油供水专业性公司。公司主营业务是为国际、国内航行船舶供应燃油、润滑油和淡水。同时兼营成品油销售、润滑油来料加工以及油品仓储等业务。公司成立以来，先后为国内外160多个国家和地区的船公司提供过供油供水服务，在国内外客户中享有较高的声誉。</p>
                </div>
            </div>
            <div class="gg"><img src="/static/home/images/gg002.jpg" /></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="cont03">
    	<div class="cont03-l">
        	<h1>友情链接</h1>
            <div class="cont03-l-cen">
            	<dl>
                	<dd><img src="/static/home/images/yqlj_09.jpg" width="191" height="40" /></dd>
                    <dd><img src="/static/home/images/yqlj_12.jpg" /></dd>
                    <dd><img src="/static/home/images/yqlj_14.jpg" /></dd>
                    <dt><select name="">
                      <option>====友情链接====</option>
                  </select></dt>
                </dl>
            </div>
        </div>
        <div class="cont03-r">
        	<h1><img src="/static/home/images/yx.jpg" /></h1>
            <div class="cont03-r-cen">
            	<div class="jingy">
                	<h1><span style="background:url(/static/home/images/001.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#40b2d6">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #1fa2cc">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/002.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#91d53d">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #91d53d">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/003.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#cc6245">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #cc6245">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/004.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#e58b05">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #e58b05">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
        </div><div class="clear"></div>
    </div>
    <div class="cont04">
    	<h1><img src="/static/home/images/qywh.jpg" /></h1>
        <div class="cont04-cen">
        	<div class="cont03-cen">
        	<dl>
            	<dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                <dd><a href="#" target="_blank">图片展示</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                <dd><a href="#" target="_blank">图片展示</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                <dd><a href="#" target="_blank">图片展示</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                <dd><a href="#" target="_blank">图片展示</a></dd>
            </dl><div class="clear"></div>
        </div>
        </div>
    </div>
</div>


{include file='common/foot' /}
