{include file='common/header' /}

<div class="content">
	<div class="xxy">
    	<div class="xxy-l">
        	<h1>新闻中心</h1>
            <div class="xxy-l-cen">
           	  <ul>
                	<li><a href="#" target="_blank">公司新闻</a></li>
                	<li><a href="#" target="_blank">公告栏</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
        	<h1>新闻中心</h1>
            <div class="xxy-r-cen">
				<div class="cont02-r-lcen001">
                        <ul>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                            <li><a href="#" target="_blank">日前，总投资1.6亿元的大连东豪机械设备制造有限公司正式落户庄河临港工业区。</a><span>2010-05-05</span></li>
                        </ul>
                    </div>
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>
    
    
    
    
</div><div class="clear"></div>

{include file='common/foot' /}
