{include file='common/header' /}

<div class="content">
	<div class="xxy">
    	<div class="xxy-l">
        	<h1>企业文化</h1>
            <div class="xxy-l-cen">
           	  <ul>
                	<li><a href="#" target="_blank">企业文化</a></li>
                	<li><a href="#" target="_blank">职工活动</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
        	<h1>企业文化</h1>
            <div class="xxy-r-cen">
				<div class="cont03-cen01">
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="#" target="_blank"><img src="/static/home/images/tp002.jpg" width="168" height="129" /></a></dt>
                        <dd><a href="#" target="_blank">图片展示</a></dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>
    
    
    
    
</div><div class="clear"></div>

{include file='common/foot' /}