{include file='common/header' /}
<div class="content">
	<div class="xxy">
    	<div class="xxy-l">
        	<h1>人力资源</h1>
            <div class="xxy-l-cen">
           	  <ul>
                	<li><a href="#" target="_blank">职工队伍建设</a></li>
                	<li><a href="#" target="_blank">招聘信息</a></li>
                	<li><a href="#" target="_blank">知识库</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
        	<h1>人力资源</h1>
            <div class="xxy-r-cen">
				<div class="xyrc">
                    <b>现阶段我们需要以下专业人才</b>
                    <div class="xyrc-jl">销售经理</div>
                    <div class="xyrc-jl-cen"><strong>工作地点</strong>：大连市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>招聘人数</strong>：若干&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>薪水范围</strong>：面议</div>
                    <div class="xyrc-jl-cen-c">
                        <h3>职位描述：</h3>
                        <p>1 具有良好的市场开拓能力，客户沟通能力；</p>
                        <p>2 有良好的组织管理协调能力，思维敏捷，亲和力强；</p>
                        <p>3 具高度敬业精神及强烈的工作责任感，能承受工作压力，愿意接受挑战；</p>
                    </div>
                    <div class="xyrc-jl">销售经理</div>
                    <div class="xyrc-jl-cen"><strong>工作地点</strong>：大连市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>招聘人数</strong>：若干&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>薪水范围</strong>：面议</div>
                    <div class="xyrc-jl-cen-c">
                        <h3>职位描述：</h3>
                        <p>1 具有良好的市场开拓能力，客户沟通能力；</p>
                        <p>2 有良好的组织管理协调能力，思维敏捷，亲和力强；</p>
                        <p>3 具高度敬业精神及强烈的工作责任感，能承受工作压力，愿意接受挑战；</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>
    
    
    
    
</div><div class="clear"></div>

{include file='common/header' /}