
{include file='common/header' /}

<div class="content">
	<div class="xxy">
    	<div class="xxy-l">
        	<h1>党建工作</h1>
            <div class="xxy-l-cen">
            	<ul>
                	<li><a href="#" target="_blank">方针政策</a></li>
                	<li><a href="#" target="_blank">廉政建设</a></li>
                	<li><a href="#" target="_blank">工作动态</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
        	<h1>党建工作</h1>
            <div class="xxy-r-cen">
            	<p>党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>
    
    
    
    
</div><div class="clear"></div>

{include file='common/foot' /}