{include file='common/header' /}

<div class="content">
    <div class="xxy">
        <div class="xxy-l">
            <h1>中燃大连</h1>
            <div class="xxy-l-cen">
                <ul>
                    <li><a href="#" target="_blank">公司情况简介</a></li>
                    <li><a href="#" target="_blank">组织机构</a></li>
                    <li><a href="#" target="_blank">公司资质</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
            <h1>中燃大连</h1>
            <div class="xxy-r-cen">
                <p>党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作党建工作</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>




</div>
<div class="clear"></div>

{include file='common/foot'/}
