 <!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U('Index/index')}" style="color: #333;">
				<i class=" fa fa-home">
				&nbsp;</i>Home</a>
			</li>
			<li class="active">站点设置</li>
			<li class="active">首页logo</li>
		</ol>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form class="form-horizontal" style="margin-top:30px" method="POST" action="" enctype="multipart/form-data">
					<div class="box-body">

						<div class="form-group">
							<label for="name" class="control-label col-sm-3">图标</label>
							<div class="col-sm-6">
								<iframe src="{:U('Index/upload', 'event=setPics&url='.$_logo['img'])}" scrolling="no" style="width:100px;height:100px;border: none;display:block;"></iframe>
								<input type="hidden" name="img" id="img" value="{$_logo['img']}" class="smallinput" />
								<script>
                                    function setPics(url){
                                        document.getElementById('img').value = url;
                                    }
								</script>
								<p class="help-block help-block-error col-sm-7 col-xs-10">点击图片可进行更换</p>
							</div>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="button" id="ajaxBtn" class="btn btn-primary">保存</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</section>