<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U('Index/index')}" style="color: #333;">
				<i class=" fa fa-home">
				&nbsp;</i>Home</a>
			</li>
			<li class="active">消息推送</li>
			<li class="active">图文管理</li>
			<li class="active"><if condition="$_GET['id']">修改图文<else />添加图文</if></li>
		</ol>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form class="form-horizontal" style="margin-top:30px" method="POST" id="form" action="" enctype="multipart/form-data">
					<div class="box-body">
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">文章标题</label>
							<div class="col-sm-6">
								<input type="text" name="title" class="form-control col-sm-9" value="{$info['title']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">文章图片</label>
							<div class="col-sm-3">
								<iframe src="{:U('Index/upload', 'event=setPic&url='.$info['pic'])}" scrolling="no" style="width:300px;height:200px;border: none;"></iframe>
								<input type="hidden" name="pic" id="pic" value="{$info['pic']}" class="smallinput" />
								<script>
								function setPic(url){
									document.getElementById('pic').value = url;
								}
								</script>
								<p class="help-block help-block-error col-sm-7 col-xs-10">点击图片可进行更换</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">跳转外链</label>
							<div class="col-sm-6">
								<input type="text" name="url" class="form-control col-sm-9" value="{$info['url']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">强烈建议跳转外链设置推广链接地址</p>
							</div>
						</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="button" id="ajaxBtn"  class="btn btn-primary">保存</button>
								<button type="button" class="btn btn-inverse" style="margin-left:20px;" onclick="history.go(-1)">返回</button>
							</div>	
						</div>
					</div>
				</form>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</section>
<script>
	function type_change(){
		t = $("#type option:selected").val();
		if(t==1){
			$('#remark').html('请在下面编辑回复内容，可以用A标签来做超链接');
			$('#content').show();
		}else if(t == 2){
			$('#remark').html('请保存后点击后面的管理文章设置回复的文章');
			$('#content').hide();
		}else{
			$('#remark').html('选择对应的回复类型！');
			$('#content').hide();
		}
	}
</script>