<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li><a href="{:U('Index/index')}" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
			<li class="active">
				 公告信息
			</li>
		</ol>
	</div>

</section>

       
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">公告列表</h3>
				</div>
				<div class="box-tools" style="float: left;margin: 10px;;">
					<form class="form-inline" method="post">
						<div class="form-group">

							<div class="input-group input-group-md" style="width: 239px;">
								<input type="text" name="title" class="form-control pull-right" placeholder="标题名称" value="">

								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</div>

					</form>
				</div>

				<div class="box-body">
					<table class="table table-bordered table-hover table-striped">
						<tbody>
						<tr>
							<th>标题</th>
							<th>发布时间</th>
						</tr>
						<foreach name="list" item="v">
						<tr>
							<td>
								<a href="javascript:;" class="myModal" data-toggle="modal" data-target="#myModal" data-id="{$v.id}">{$v.title}</a>
								<div class="content-{$v.id}" style="display: none;">
									{$v.body}
								</div>
							</td>
							<td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
						</tr>
						</foreach>
						</tbody>
					</table>
				</div>
				<div class="page">{$page|default="<p style='text-align:center'>暂时没有数据</p>"}</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="modal-title"></h4>
				</div>
				<div class="modal-body" id="modal-content">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</section>   
<script>
	$('.myModal').click(function () {
		var title = $(this).text();
		var id = $(this).data('id');
		var content = $('.content-' + id).html();
		$('#modal-title').html(title);
		$('#modal-content').html(content);
	});

</script>
