{include file='public/header' /}
<div class="x-body">
    <div class="layui-form-item">
        <label for="user" class="layui-form-label">
            <span class="x-red">*</span>登录名
        </label>
        <div class="layui-input-inline">
            <input type="text" id="user" value="{$infos.users}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="user" class="layui-form-label">
            <span class="x-red">*</span>真实姓名
        </label>
        <div class="layui-input-inline">
            <input type="text" id="relname" value="{$infos.rep_relname}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="user" class="layui-form-label">
            <span class="x-red">*</span>邮箱
        </label>
        <div class="layui-input-inline">
            <input type="text" id="email" value="{$infos.rep_email}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="user" class="layui-form-label">
            <span class="x-red">*</span>联系电话
        </label>
        <div class="layui-input-inline">
            <input type="text" id="tel" value="{$infos.rep_tel}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="user" class="layui-form-label">
            <span class="x-red">*</span>所属地区
        </label>
        <div class="layui-input-inline">
            <input type="text" id="region" value="{$infos.rep_region}" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label for="pwd" class="layui-form-label">
            <span class="x-red">*</span>密码
        </label>
        <div class="layui-input-inline">
            <input type="password" id="pwd"  value="{$infos.pwd}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            6到16个字符
        </div>
    </div>

    <input type="hidden"  id="mid" value="{$infos.id}">
    <input type="hidden"  id="role" value="{2}">
    <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button  class="layui-btn" onclick="xadmin_edit();">
            修改
        </button>
    </div>
</div>
<script>

    function xadmin_edit(){
        var user  =$.trim($('#user').val());
        var pwd   =$.trim($('#pwd').val());
        var email   =$.trim($('#email').val());
        var region   =$.trim($('#region').val());
        var relname   =$.trim($('#relname').val());
        var mid   =$('#mid').val();
        var tel   =$('#tel').val();
        var role  =$('#role').val();

        if(user =='' || user == undefined){
            layer.msg('请输入用户名');
            return false;
        }


        if(pwd =='' || pwd == undefined){
            layer.msg('请输入密码');
            return false;
        }

        var urls = "{:url('xiao/edit')}";

        $.post(urls,{'users':user,'pwd':pwd,'mid':mid,'role':role,'relname':relname,'email':email,'tel':tel,'region':region},function(ret){
            if(ret.code == 200){
                //layer.msg(ret.msg,{icon:6});
                window.location.href="{:url('xiao/index')}";
            }

            if(ret.code == 400){
                layer.msg(ret.msg,{icon:5});
                window.location.reload();
            }
        })
    }

</script>

</body>

</html>