<link rel="stylesheet" href="__PUBLIC__/admin/css/switch.css">
<section class="content-header">
<div>
	<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
		<li><a href="{:U('Index/index')}" style="color: #333;"><i class=" fa fa-home"></i>&nbsp;Home</a></li>
		<li class="active">渠道商信息</li>
	</ol>
</div>
</section>
<section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"></h3>
				<a href="{:U('Mch/edit')}" class="btn btn-success">添加渠道商</a>
				<div class="box-tools">
					<form class="form-inline" method="post">
						<div class="form-group">
							<div class="input-group input-group-md" style="width: 150px;">
								<input type="text" name="title" class="form-control pull-right" placeholder="渠道商名称" value="{$_GET['title']}">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered table-hover table-striped text-center">
					<tbody>
						<tr>
							<th>渠道商名称</th>
							<th>用户名</th>
							<th>代理名称</th>
							<th>手机号</th>
							<th>防封域名</th>
							<th>帐户余额</th>
							<th>佣金比例</th>
							<th>昨日充值</th>
							<th>今日充值</th>
							<th>总充值</th>
							<!-- <th>APPID</th>
							<th>APPSECRET</th> -->
							<th>状态(审核可直接选择)</th>
							<th>操作</th>
						</tr>
						<foreach name="list" item="v">
							<tr>
								<td>{$v.title}</td>
								<td>{$v.username}</td>
								<td>{$v.name}</td>
								<td>{$v.mobile}</td>
								<td>{$v.url}</td>
								<td>{$v.money}</td>
								<td>{$v['lv']/100}</td>
								<td>{$v.zcharge|default="0.00"}</td>
								<td>{$v.jcharge|default="0.00"}</td>
								<td>{$v.allcharge|default="0.00"}</td>
								<!-- <td>{$v.appid}</td>
								<td>{$v.appsecret}</td> -->
								<td>
									<div>
									<if condition="$v['status'] eq 0">
										禁用
									<elseif condition="$v['status'] eq 1" />
										正常
									<else />
										待审核
									</if>
									</div>
									<div class="switch switch-small checkbox has-switch" data-title="is_push" data-on="success" onclick="clickCheckbox({$v.id},this);">
										<div class="switch-animate <if condition="$v['status'] eq 1">switch-on<else />switch-off</if>">
										<input type="checkbox" checked="">
										<span class="switch-left switch-small switch-success">ON</span><label class="switch-small">&nbsp;</label><span class="switch-right switch-small">OFF</span>
										</div>
									</div>
								</td>
								<td>
									<a href="{:U('edit',array('id'=>$v['id']))}" class="btn btn-info">
										<i class="fa fa-edit"></i>修改
									</a>
									<a href="javascript:;" onclick="deleteAmTables('mch',{$v.id})" class="cannel_vip btn bg-maroon margin">
										<i class="fa fa-times"></i>删除
									</a>
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
			<div class="page">{$page|default="<p style='text-align:center'>暂时没有数据</p>"}</div>
		</div>
	</div>
</div>
</section>

<script>
	function clickCheckbox(id,ob){
		$.post("{:U('setStatus')}",{id:id},function(d){
			if(d){
				layer.alert(d.info,function(){
					location.reload();
				});
			}else{
				layer.msg('请求失败！');
			}
		});
	}
</script>	
