<section class="content-header">
<div>
	<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
		<li><a href="{:U('Index/')}" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
	</ol>
</div>
</section>

<section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class=""><a href="{:U('index')}">个人信息</a></li>
					<li class="active"><a href="{:U('ePass')}">修改密码</a></li>
				</ul>
				<div class="tab-content">
					<div class="" id="tab_2">
						<form id="main-form" class="form-horizontal" method="post">
							<div class="text-center" style="color: red;padding: 15px 15px">
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">当前密码</label>
								<div class="col-sm-6">
									<input type="password" name="oldpassword" class="form-control col-sm-9" required="">
									<p class="help-block help-block-error col-sm-7 col-xs-10">
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">新密码</label>
								<div class="col-sm-6">
									<input type="password" name="newpassword" class="form-control col-sm-9" required="" minlength="6">
									<p class="help-block help-block-error col-sm-7 col-xs-10">
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">新密码确认</label>
								<div class="col-sm-6">
									<input type="password" name="newpassworded" class="form-control col-sm-9" required="" minlength="6">
									<p class="help-block help-block-error col-sm-7 col-xs-10">
									</p>
								</div>
							</div>
							<div class="box-footer">
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="button" id="ajaxBtn" class="btn btn-primary">保存</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
</section>