<div class="footer">
    <div class="footHelp">
        <table  border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="javascript:void(0);">剑网3</a>
                    |
                    <a href="javascript:void(0);">留言板</a>
                    |
                    <a href="javascript:void(0);" target="_blank">用户中心</a>
                    |
                    <a href="javascript:void(0);">留言板</a>
                    |
                    <a href="javascript:void(0);">3G资讯</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer_info"> &copy; 2005-2020 测试商城 版权所有，并保留所有权利。  888     Tel: 4006781125234          <a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=123013025&amp;Site=测试商城&amp;Menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=1:123013025:4" height="16" border="0" alt="QQ" /> 123013025</a>
        <a href="http://amos1.taobao.com/msg.ww?v=2&uid=%E9%A6%96%E4%BB%93%E8%B4%B8%E6%98%93%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&s=2" target="_blank"><img src="http://amos1.taobao.com/online.ww?v=2&uid=%E9%A6%96%E4%BB%93%E8%B4%B8%E6%98%93%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&s=2" width="16" height="16" border="0" alt="淘宝旺旺" />首仓贸易有限公司</a>
        <br />
        ICP备案证书号:<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备123456</a><br />
        共执行 192 个查询，用时 0.051379 秒，在线 94 人，Gzip 已禁用，占用内存 3.219 MB<br />
      <br />
        <div >
            <div class="clear10"></div>
        </div>
    </div>