<div class="footer">
    <div class="foot">
        <a href="/" target="_blank">首页</a>|<a href="{:url('index/zrdl')}" target="_blank">中燃大连</a>|
        <a href="{:url('index/news')}" target="_blank">新闻中心</a>|
        <a href="{:url('index/rands')}" target="_blank">经营范围</a>|
        <a href="{:url('index/service')}" target="_blank">服务设施</a>|
        <a href="{:url('index/qiye')}" target="_blank">企业文化</a>|
        <a href="{:url('index/works')}" target="_blank">党建工作</a>|
        <a href="{:url('index/resource')}" target="_blank">人力资源</a>|
        <a href="{:url('index/contact')}" target="_blank">联系我们</a></div>
    <div class="footer-cen">
        <p> Copyright 2010 中国船舶燃料大连有限公司 All Rights Reserved    地址：辽宁省大连市中山中路33号中燃楼    邮编：116031</p>
        <p>电话：0411-88888888    传真：0411-88888888    E-mail：cbrl_lyg@163.com    备案号：辽ICP备10104539号</p>
        <p>建议使用1024×768分辩率 IE6.0以上版本浏览器   您是本站第 3057 位访问者    技术支持 新生代科技</p>
    </div>
</div>
</body>

</html>
