<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <title>大连新生代科技有限公司</title>
    <meta name="keywords" content="大连新生代科技有限公司" />
    <meta name="Description" content="大连新生代科技有限公司"/>
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css" media="all" />
    <script src="/static/home/js/jquery-1.3.2.js"></script>
    <script>
        $(document).ready(function(){
            $("li.item > ol").hide();
            $("li.item").hover(function(){
                $("ol",this).slideDown("fast");//$("ol",this): 寻找this中的ol.
            },function(){
                $("ol",this).slideUp("fast");
            });
        });
    </script>
</head>

<body>
<div class="header">
    <div class="head">
        <div class="logo"><img src="/static/home/images/logo.jpg" width="497" height="91" /></div>
        <div class="head-r">
            <a href="#" target="_blank"><img src="/static/home/images/n_03.jpg" /></a>
            <a href="#" target="_blank"><img src="/static/home/images/n_04.jpg" /></a></div>
        <div class="clear"></div>
    </div>
    <div class="flash"><img src="/static/home/images/n_08.jpg" width="986" height="227" /></div>
    <div class="nav">
        <div class="nav-s">
            <ul>
                <ol class="menu">
                    <li class="item"><a href="/">网站首页</a></li>
                    <img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('zrdl')}">中燃大连</a>
                        <ol>
                            <li><a href="#">公司简介</a></li>
                            <li><a href="#">资质荣誉</a></li>
                            <li><a href="#">66666</a></li>
                            <li><a href="#">777777</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/news')}">新闻中心</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/rands')}">经营范围</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/service')}">服务设施</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/service')}">企业文化</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/works')}">党建工作</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/resource')}">人力资源</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li><img src="/static/home/images/ge.jpg" style="float:left" />
                    <li class="item"><a href="{:url('index/contact')}">联系我们</a>
                        <ol>
                            <li><a href="#">88888</a></li>
                            <li><a href="#">999999</a></li>
                            <li><a href="#">1</a></li>
                        </ol></li>
                </ol>
            </ul>
        </div>

        <!--<div class="nav-x">123132132</div>-->
    </div>

</div>

