<!DOCTYPE html>
<html data-dpr="1" style="font-size: 37.5px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>[title]</title>
<link href="__PUBLIC__/home/css/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.min.css?time=<?php echo time();?>">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/font.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/mobile/need/layer.css">
<script src="__PUBLIC__/home/js/jquery-1.7.min.js"></script>
<script src="__PUBLIC__/home/js/swiper.min.js"></script>
<script src="__PUBLIC__/home/js/mui.min.js"></script>
<script src="__PUBLIC__/layer/mobile/layer.js"></script>
<script src="__PUBLIC__/home/js/jquery.cookie.js"></script>
</head>
<body style="font-size: 12px;" class="mui-ios mui-ios-11 mui-ios-11-0">