<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[title]</title>
    <!-- 这里引入css -->
	<link href="__PUBLIC__/home/css/template5_common.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/home/css/template5_recently.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/home/css/template5_classify.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		html,body {background:#fff;}
	</style>
	<script type="text/javascript">
               
        (function (doc) {
            var docEl = doc.documentElement,
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth > 414) {
                        //docEl.style.fontSize = '115px';
						docEl.style.fontSize = '110.4px';
                    } else {
                        //docEl.style.fontSize = 100 * (clientWidth / 360) + 'px';
                        docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                    }
                };
            recalc();
        })(document);
      
    </script>
</head>
<body>
<div class="head_tit_box">
    <a href="javascript:;" class="head_return_page_but"></a>
	<div class="head_menu_but_box">
		<a href="javascript:;" class="head_menu_but"></a>
	</div>
    <h1>{$mtitle}</h1>
</div>
<!--head_tit_box 分类 head_menu_but_open-->
<div class="pop_up_menu_box">
	<i></i>
	<div class="pum_box">
		<div class="pum_tit_box">
			<a href="javascript:;"></a>
		</div>
		<div class="pum_nav_list">
			<ul class="pum_nav_list_ul">
				<li>
					<a href="{:U('Index/index',array('order'=>'sex2','btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_2.png" /></div>
						<strong>女生</strong>
					</a>
				</li>
								<li>
					<a href="{:U('Index/index',array('order'=>'sex1','btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_1.png" /></div>
						<strong>男生</strong>
					</a>
				</li>
								<li>
					<a href="{:U('Index/moreList',array('field'=>'isfw','value'=>2,'btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_5.png" /></div>
						<strong>免费</strong>
					</a>
				</li>
				<li>
					<a href="{:U('Index/bookType',array('btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_3.png" /></div>
						<strong>分类</strong>
					</a>
				</li>
				<li>
					<a href="{:U('Index/rank',array('btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_7.png" /></div>
						<strong>排行</strong>
					</a>
				</li>
				<li>
					<a href="{:U('Index/my',array('btype'=>2))}">
						<div class="pum_icon"><img alt="" src="__PUBLIC__/home/img/icon/module_icon_6.png" /></div>
						<strong>个人中心</strong>
					</a>
				</li>
			</ul>
			<div class="pum_but_box">
				<a href="{:U('Index/readHistory',array('btype'=>2))}">最近阅读</a>
			</div>
		</div>
	</div>
</div>
<!--pop_up_menu_box 菜单弹框-->
