<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U('Index/index')}" style="color: #333;">
				<i class=" fa fa-home">
				&nbsp;</i>Home</a>
			</li>
			<li class="active">听书信息</li>
			<li class="active"><if condition="$_GET['id']">修改听书<else />添加听书</if></li>
		</ol>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form class="form-horizontal" style="margin-top:30px" method="POST" id="form" action="" enctype="multipart/form-data">
					<div class="box-body">
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">听书标题</label>
							<div class="col-sm-6">
								<input type="text" name="title" class="form-control col-sm-9" value="{$info['title']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">听书作者</label>
							<div class="col-sm-6">
								<input type="text" name="author" class="form-control col-sm-9" value="{$info['author']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">听书封面图链接</label>
							<div class="col-sm-6">
								<input type="text" name="coverpic" class="form-control col-sm-9" value="{$info['coverpic']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">听书详情图链接</label>
							<div class="col-sm-6">
								<input type="text" name="infopic" class="form-control col-sm-9" value="{$info['infopic']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">听书简介</label>
							<div class="col-sm-6">
								<input type="text" name="remark" class="form-control col-sm-9" value="{$info['remark']}">
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">排序权值</label>
							<div class="col-sm-6">
								<input type="text" name="sort" class="form-control col-sm-9" value="{$info['sort']}">
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">发布区域</label>
							<div class="col-sm-6">
								<?php
									if($info['areas']){
										$areasArr = explode(',',$info['areas']);
									}
								?>
								<foreach name="_stArea" item="v" key="k">
									<div class="checkbox" style="float: left;margin:0 20px 0px 0;">
										<label>
										  <input type="checkbox" name="areas[]" class="areas" value="{$k}" <if condition="in_array($k,$areasArr)">checked</if>>{$v}
										</label>
									</div>
								</foreach>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">听书分类</label>
							<div class="col-sm-6">
								<?php
									$storeArr = explode(',',$info['cateids']);
								?>
								<foreach name="_stStore" item="v" key="k">
									<div class="checkbox" style="float: left;margin:0 20px 0px 0;">
										<label>
										  <input type="checkbox" class="cates" name="cateids[]" value="{$k}" <if condition="in_array($k,$storeArr)">checked</if>>{$v}
										</label>
									</div>
								</foreach>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">听书状态</label>
							<div class="col-sm-6">
								<select class="form-control col-sm-9" name="iswz" default="{$info['iswz']}">
                                    <option value="">请选择</option>
									<option value="1">连载中</option>
									<option value="2">已完结</option>
								</select>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">听书属性</label>
							<div class="col-sm-6">
								<select class="form-control col-sm-9" name="isfw" default="{$info['isfw']}">
                                    <option value="">请选择</option>
									<option value="1">小图</option>
									<option value="2">大图</option>
								</select>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">新书/非新书</label>
							<div class="col-sm-6">
								<select class="form-control col-sm-9" name="isnew" default="{$info['isnew']}">
                                    <option value="">请选择</option>
									<option value="1">新书</option>
									<option value="2">非新书</option>
								</select>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">长篇/短篇</label>
							<div class="col-sm-6">
								<select class="form-control col-sm-9" name="islong" default="{$info['islong']}">
                                    <option value="">请选择</option>
									<option value="1">长篇</option>
									<option value="2">短篇</option>
								</select>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">男频/女频</label>
							<div class="col-sm-6">
								<select class="form-control col-sm-9" name="issex" default="{$info['issex']}">
                                    <option value="">请选择</option>
									<option value="1">男频</option>
									<option value="2">女频</option>
								</select>
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">免费章节</label>
							<div class="col-sm-6">
								<input type="text" name="paychapter" class="form-control col-sm-9" value="{$info['paychapter']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">推荐阅读原文章节</label>
							<div class="col-sm-6">
								<input type="text" name="schapter" class="form-control col-sm-9" value="{$info['schapter']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">强制关注章节</label>
							<div class="col-sm-6">
								<input type="text" name="tchapter" class="form-control col-sm-9" value="{$info['tchapter']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">付费章节金额</label>
							<div class="col-sm-6">
								<input type="text" name="money" class="form-control col-sm-9" value="{$info['money']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的数</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">热门指数</label>
							<div class="col-sm-6">
								<input type="text" name="thermal" class="form-control col-sm-9" value="{$info['thermal']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">初始化人气值</label>
							<div class="col-sm-6">
								<input type="text" name="hots" class="form-control col-sm-9" value="{$info['hots']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">初始化收藏数</label>
							<div class="col-sm-6">
								<input type="text" name="likes" class="form-control col-sm-9" value="{$info['likes']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10">请输入大于0的自然数</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">分享标题</label>
							<div class="col-sm-6">
								<input type="text" name="sharetitle" class="form-control col-sm-9" value="{$info['sharetitle']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">分享简介</label>
							<div class="col-sm-6">
								<input type="text" name="sharedesc" class="form-control col-sm-9" value="{$info['sharedesc']}">
								<p class="help-block help-block-error col-sm-7 col-xs-10"></p>
							</div>
						</div>

						<if condition="!$_GET['id']">
						<div class="form-group">
							<label for="pass" class="control-label col-sm-3">分集上传ZIP</label>
							<div class="col-sm-6">
								<input type="file" name="fenji" id="file" class="form-control col-sm-9"  placeholder="请上传分集ZIP文件" />
							</div>
						</div>
						</if>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<input type="hidden" name="id" id="id" value="{$_GET['id']}" />
								<input type="hidden" name="btype" id="btype" value="3" />
								<button type="button" id="Subbtn" onclick="subForm();" class="btn btn-primary">保存</button>
								<button type="button" class="btn btn-inverse" style="margin-left:20px;" onclick="history.go(-1)">返回</button>
							</div>	
						</div>
					</div>
				</form>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</section>
<script>

	function subForm(){
		var chks = [];
			areas = [];
		var formData = new FormData();
		$('input[type="text"]').each(function(){
			formData.append($(this).attr("name"),$(this).val());
		});
		$('.cates').each(function(){
			if($(this).is(":checked")){
				chks.push($(this).val());
			}
		});
		
		$('.areas').each(function(){
			if($(this).is(":checked")){
				areas.push($(this).val());
			}
		});
		
		//小说漫画分类
		formData.append("cateids",chks.join(","));
		formData.append("areas",areas.join(","));
		
		$('select').each(function(){
			formData.append($(this).attr("name"),$(this).find("option:selected").val());
		})
		
		//小说、漫画分类
		formData.append('btype', $('#btype').val());
		//小说、漫画ID
		formData.append('id', $('#id').val());
		//小说、漫画分享图片
		formData.append('huaspic', $('#huaspic').val());
		
		if($('#file').length>0){
			//小说、漫画ZIP
			formData.append('file', $('#file')[0].files[0]);
		}
		
		$.ajax({
			url:"{:U('editStory')}",
			type:"post",
			data:formData,
			cache: false,
			processData: false,
			contentType: false,
			beforeSend: function () {
				// 禁用按钮防止重复提交
				layer.load(2);
				$("#Subbtn").attr({ disabled: "disabled" });
			},
			success:function(data){
				console.log(data);
				layer.closeAll();
				layer.alert("操作成功！",function(){
					location.href = data.url;
				});
			},
			error:function(e){
				layer.alert("网络错误，请重试！！");
			}
		});
	}
	
	

</script>