<include file="include/header" title="{$title}" />
<link href="__PUBLIC__/home/css/index.css?time=201801" rel="stylesheet">
<style>
.erweima{
    text-align: center;
    padding:25px 0;
    background: white;
}
.erweima img{
    margin:0 auto;
    width:200px;
    height:200px;
}
.erweima p{
    font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;		
	color: #8f8f94;
}
.home-hottag-menu {

    height: 50px;
    bottom: 0;
    display: table;
    width: 100%;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
    z-index: 199;
    margin-top: 10px;
	background-color: #fff;
}
}
.box {
	width: 100%;
	background-color: #fff;
}
.home-hottag-menu .home-hottag-item {
	display: table-cell;
	width: 1%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #929292;
}
p {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 10px;
	color: #8f8f94;
}
.box img{ width: 60px;height: 60px;}
.books-col .item{border-bottom: 1px solid #f2f2f2;border-top:.2667rem;}
.books-col .item a{display: block;position: relative; overflow: hidden;}
.books-col .item a img{width: 100%;height: 260px;display: block;background-image: url(../images/default.jpg);background-repeat: no-repeat;background-size: 100%;border-bottom: 1px solid #eee;}
.books-col .item a .title{height: 24px;font-size: 0.45rem;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.books-col .item a .author{font-size: 0.3rem;color: #666;display: block;line-height: 24px;}
.books-col .item a .btn{position: absolute;right: 15px;top: 8px;font-size: 0.38rem;width: 80px;height: 0.9rem;line-height: 0.9rem; text-align: center;border: 1px solid #fc992f;border-radius: 5px;color: #ff890b;}
.books-col .item a p{font-size: 0.4rem;color: #999;line-height: 20px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;margin-top: .2rem;}
.books-col .item .title i{float: right;font-size: .35rem;color: #5d5757;font-style: normal;margin: .1rem .3rem;}
.navselect{width: 60%;height: 28px;margin-left: 20px;background: #bb462c;border-radius: 3px; margin-top: 8px;border: 1px solid #ffffff}
.navimg{margin-top: 5px;margin-left: 10px;width: 25%}
.navbars{height: 1.2rem;background-color: #ff5420;display: flex;}
.flts{position: fixed;left: 0;top: 0;z-index: 4;right: 0;}
.btns{float: right;margin-top: 4px;margin-right: 5px;}
.navselect label{
	position: relative;
	top: 5px;
	font-size: 14px;
	left: 10px;
	color: #ffffff;
}
</style>
<div class="header">
	<div class="search">
		<img src="/Public/home/images/f2.png">
		<input type="text" id="keyword" placeholder="搜索书名...">
		<a href="javascript:;" id="search">搜索</a>
	</div>
	<div class="tabs">
		<a href="{:U('story')}" class="active">听书</a>
		<a href="{:U('index')}">漫画</a>
		<a href="{:U('novel')}">小说</a>
		<a href="{:U('video')}">视频</a>
	</div>
</div>
<script>
	$('#search').click(function(){
		var keyword = $('#keyword').val();
		if(keyword !=""){
			location.href="{:U('iSearch')}&keyword="+keyword;
		}
	});
</script>
<div id="banner-container" class="content" style="margin-bottom:0;">
	<div class="banner">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<foreach name="_mhBanner" item="v">
					<div class="item swiper-slide">
						<a href="{$v.url}">
							<img class="slide_loading" src="{$v.pic}">
						</a>
					</div>
				</foreach>
			</div>
		</div>
	</div>
	<div class="home-hottag-menu">
		<div class="box">
			<foreach name="middle" item="v">
				<a class="home-hottag-item" onclick="location.href='http://{$serviceUrl}/{$v.url}'">
					<img class="home-menu-img2" src="{$v.img}" />
					<p>{$v.name}</p>
				</a>
			</foreach>
		</div>
	</div>
</div>

<foreach name="list" item="v">
	<div class="bm-box mt-10">
		<div class="head">
			<div class="title dot">
				{$v.name}
			</div>
			<div class="pull-right">
				<a href="{:U('Index/moreList',array('field'=>'areas','value'=>$v['sid'],'btype'=>3))}">
					更多 
					<svg width="7" height="12" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 24"><title>right-arrow</title><path d="M1.91 1.93L12.06 12 1.91 22" fill="none" stroke="#ff5420" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
				</a>
			</div>
		</div>
		<div class="books-row">
			<foreach name="v['list']" item="vv">
				<div class="item">
					<a href="{:U('Index/stInfo',array('id'=>$vv['id']))}">
						<img class="lazy"  src="{$vv.coverpic}" style="background: rgb(238, 238, 238); display: block;">
						<div class="title">{$vv.title}</div>
					</a>
				</div>
			</foreach>
		</div>
	</div>
</foreach>


<style>
	
</style>

<if condition="$noPay">
<div class="bm-box mt-10">
	<div class="head">
		<div class="title dot">
			人气推荐
		</div>
		<div class="pull-right">
		</div>
	</div>
	<div class="books-col">
		<foreach name="noPay" item="v">
			<div class="item">
				<a href="{:U('Index/stInfo',array('id'=>$v['id']))}">
					<img  src="{$v.coverpic}" style="background: rgb(238, 238, 238); display: block;">
					<div class="body" style="padding:.3rem;border-bottom: 10px solid #F5F5F5;">
						<span class="title">{$v.title}<i>更新至{$v.allchapter}话</i></span>
						<p style="">{$v.remark}</p>
					</div>
				</a>
			</div>
		</foreach>
	</div>
</div>
</if>

<div style="height:1.33rem"></div>
<script>
	$(function () {
        var swiper = new Swiper('.swiper-container', {
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                dynamicBullets: true,
            },
        });
    });
</script>
<include file="include/footer2" />
